{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}Votre cours{% endblock %}

{% block body %}
    <main class="container course">
        <section id="detail">
            {# Affichage du message flash #}
            {% for label, messages in app.flashes(['success', 'warning']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <h2 class="my-5">{{ course.name }}</h2>
            {# TABS #}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#profil">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#details">Détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#comments">Commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#postcomments">Postez un commentaire</a>
                </li>
            </ul>
            {# CONTENTS #}
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{ asset('img/sections/' ~ course.image) }}" alt="{{ course.name }}">
                        </div>
                        <div class="col-md-7">
                            <h4>Description</h4>
                            <p>{{ course.smallDescription }}.</p>
                            <h4>Informations</h4>
                            <p class="description">
                                Créé le: {{ course.createdAt|date('d/m/Y') }}<br>
                                Prix: {{ course.price }}€<br>
                                Durée: {{ course.duration }} minutes<br>
                                Catégorie: {{ course.category.name }}<br>
                                Horaire: {{ course.schedule }}<br>
                                Niveau: <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom" title="{{ course.level.prerequisite }}">
                                    {{ course.level.name }}
                                </button>
                            </p>
                        </div>
                    </div>
                </div>

                {# DETAIL #}
                <div class="tab-pane fade" id="details">
                    <h4>Description complète</h4>
                    <p>{{ course.fullDescription }}</p>
                    <p><a href="{{ asset('img/pdf/' ~ course.program) }}" class="btn btn-primary">Télécharger le programme</a></p>
                </div>

                <div class="tab-pane fade" id="comments">
                    {% if course.comments|length >= 1 %}
                        <h4 class="my-3">Nombre de commentaires: {{ course.comments|length }} </h4>
                    {% endif %}
                    {% for com in course.comments  %}
                        <h5>{{ com.title|capitalize }}</h5>

                        <h6>{{ com.author.firstName }} {{ com.author.lastName }}</h6>

                        <h6 class="text-muted">{{ com.createdAt|date("d/m/Y") }}
                            {% include 'partials/rating.html.twig' %}
                        </h6>
                        <p>{{ com.comment }}</p>
                        <hr>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="postcomments">
                    <div class="row">
                        <div class="col-md-6 offset-3">
                            {% if is_granted('ROLE_USER') %}
                                {{ form_start(commentForm) }}
                                {{ form_widget(commentForm) }}
                                <input type="submit" value="Ajouter le commentaire" class="btn btn-primary form-control btn-primary">
                                {{ form_end(commentForm) }}
                                {% else %}
                                <h4>Vous devez être connecté</h4>
                                <p>&nbsp;</p>
                                <a href="" class="btn btn-outline-primary">Login</a>
                                <a href="" class="btn btn-outline-primary">S'enregistrer</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
