{# Navigation #}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Weblearning</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home') }}">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('courses') }}">All courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                {# Tester la connexion pour afficher les boutons ou le dropdown #}
                {% if not app.user %}
                <a href="{{ path('login') }}" class="btn btn-secondary"><i class="icofont-login"></i> S'identifier </a>
            </li>
            <li class="nav-item">
                &nbsp;<a href="" class="btn btn-secondary"><i class="icofont-user-alt-4"></i> S'enregistrer </a>
            </li>
            {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('img/avatar/') ~ app.user.image }}" alt="" class="avatar-mini">
                        &nbsp; {{ app.user.firstName }}  {{ app.user.lastName }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{{ path('profile') }}">Mon compte</a></li>
                        <li><a class="dropdown-item" href="{{ path('edit_profile') }}">Modifier mon profil</a></li>
                        <li><a class="dropdown-item" href="{{ path('edit_password') }}">Modifier mon password</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a href="{{ path('app_logout') }}" class="dropdown-item">Déconnexion</a></li>
                    </ul>
                </div>
            {% endif %}
        </ul>
    </div>
</nav>
{# End navigation #}

