/* CSS */

body {
    font-size: 90%;
}

.navbar-brand {
    padding-right: 28px;
}

.banner {
    height: 300px;
    background: url("../img/banner/ban01.jpg") no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

.home-news a {
    color: #325D88;
    text-decoration: none;
}
/* Detail */
.course {
    min-height: 600px;
}

/* Footer */
footer {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
}

footer h4 {
    padding-bottom: 1.2rem;
}

footer a {
    padding: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}

/* Filterizer */
.filtr-item img {
    width: 100%;
    height: 200px;
    filter: grayscale(100%);
}

.controls-filter {
    margin-bottom: 26px;
    color: red;
}

/* FORM LOGIN */
.login-form {
    min-height: 70vh;
}

/* Avatar dropdown header */
.avatar-mini {
    width: 40px !important;
    border-radius: 50% !important;
}

